/*=======================================================
			PRELOADER:
========================================================*/

.preloader-holder {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #242f2b;
    z-index: 100000;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -56px;
    width: 112px;
    height: 70px;
    *zoom: 1;
}

.loading:before,
.loading:after {
    display: table;
    content: "";
}

.loading:after {
    clear: both;
}

.loading img {
    width: 100px;
    -webkit-animation: loadAnimate 1s infinite ease-out;
    animation: loadAnimate 1s infinite ease-out;
}

@-webkit-keyframes loadAnimate {
    0% {
        filter: grayscale(100);
    }

    20% {
        filter: grayscale(80);
    }

    29% {
        filter: grayscale(71);
    }

    35% {
        filter: grayscale(65);
    }

    41% {
        filter: grayscale(50);
    }

    65% {
        filter: grayscale(45);
    }

    75% {
        filter: grayscale(35);
    }

    90% {
        filter: grayscale(10);
    }

    100% {
        filter: grayscale(0);
    }
}

@keyframes loadAnimate {
    0% {
        filter: grayscale(100);
    }

    20% {
        filter: grayscale(80);
    }

    29% {
        filter: grayscale(71);
    }

    35% {
        filter: grayscale(65);
    }

    41% {
        filter: grayscale(50);
    }

    65% {
        filter: grayscale(45);
    }

    100% {
        filter: grayscale(0);
    }
}
