body, ul, li, h1, h2, span{
	margin: 0 auto;
	padding:0;
	width: 400px;
}

ul{
	list-style:none;
}

body{
	background: url(../imgs/bg.png) no-repeat center center fixed #292929;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

#content {
	width: 400px;
	height: 500px;
	margin: auto;
}

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}
#navMenu {
	height:410px;
	width: 400px;
	overflow:hidden;
	text-rendering: optimizeLegibility;
  font-family: Lato-Light;
	font: 4em Lato-Light, sans-serif;
	letter-spacing: .1em;
	margin-right: auto;
	margin-left: auto;
	top: 25%;
	padding-top: 70px;
}

#navMenu li {
	display: block;
	min-width: 100%;
	float:right;
	clear:both;
	position:relative;
	overflow:hidden;
	margin-bottom: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
}

#navMenu li a {
	width: 100%;
	text-transform:uppercase;
	text-decoration: none;
	color: rgba(255,255,255,0.9);
	outline: none;
	text-indent:25px;
	z-index: 10;
	display: block;
	float: right;
	height: 65px;
	position: relative;
	overflow: hidden;
	padding-left: 10px;
	margin-left: 10px;
	font: 54px/66px Lato-Light;
}

#hov1:hover{
background-color: rgb(255, 189, 106);
}

#hov2:hover{
background-color: rgb(228, 184, 125);
}

#hov3:hover{
background-color: rgb(195, 179, 155);
}

#hov4:hover{
background-color: rgb(156, 171, 182);
}

#hov5:hover{
background-color: rgb(136, 165, 190);
}

#hov6:hover{
background-color: rgb(90, 108, 133);
}

::-webkit-input-placeholder { font-style:italic; text-decoration:overline; color:#999; }

/*This bit is for the sreach box*/

#search-box {
    position: relative;
    width: 100%;
    margin: 0;
}

#search-form {
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

#search-text {
    font-size: 16px;
    color: #ddd;
    border-width: 0;
    background: transparent;
	  text-rendering: optimizeLegibility;
    font-family: Lato-Light;
	  font: 16px Lato-Light, sans-serif;
	  letter-spacing: 1px;

}

#search-box input[type="text"] {
    width: 90%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}

#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #88a5be;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
